*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
  background: #3a405a;
  color: #fff;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem);
}